---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-998">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome to</span>
                <!--Logo-->
                <picture class="cs-logo">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/food-logo.svg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/food-logo.svg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/food-logo.svg" alt="Stitch House Restaurant" width="614" height="166">
                </picture>
                <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
                <a href="" class="cs-button-solid">Reserve Your Table</a>
            </div>
        </div>
        <!--Background Image-->
        <!--Image is also set as background image in CSS at 1400px for parallax effect-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg" alt="logo" width="1920" height="1000">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1829">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Our Dermatology & Aesthetic Services</h2>
                <p class="cs-text">
                Aside from seeing patients, Dr. Stitch is dedicated to patient advocacy and education on evidence-based medicine in dermatology, especially for skin of color. 
            </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm1.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm1.jpg">
                            <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm1.jpg" alt="person" width="500" height="700">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Medical</h3>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm2.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm2.jpg">
                            <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm2.jpg" alt="person" width="500" height="700">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Cosmetic</h3>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm3.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm3.jpg">
                            <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm3.jpg" alt="person" width="500" height="700">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Surgical</h3>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm4.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm4.jpg">
                            <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/derm4.jpg" alt="person" width="500" height="700">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Skincare</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Background Image, background image added in the css at 768px for parallax effect -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
        </picture>
        <!-- Top left gold graphic -->
        <img class="cs-graphic1" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
        <!-- Bottom right gold graphic -->
        <img class="cs-graphic2" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1308">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-desc">Accounting &  support of your business</span>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Get Help on Finance</h2>
                <p class="cs-text">
                In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
            </p>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
                <ul class="cs-ul">
                    <li class="cs-item">
                        <span class="cs-number">150 +</span>
                        <h3 class="cs-h3">Staff on three continents</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">700 +</span>
                        <h3 class="cs-h3">Consulting engagements</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">180 +</span>
                        <h3 class="cs-h3">Learning community members</h3>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    {% include 'sections/cta.html' %}
{% endblock %}