---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
    {# {% image "src/assets/images/misc/office-pexels.jpg", "Office room" %} #}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-998">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome to</span>
                <!--Logo-->
                <picture class="cs-logo">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/food-logo.svg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/food-logo.svg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/food-logo.svg" alt="Stitch House Restaurant" width="614" height="166">
                </picture>
                <p class="cs-text">
                Your business deserves a website that wows. <br>Let us create one that works as hard as you do.
                </p>
                <a href="/contact" class="cs-button-solid">Get in contact with us</a>
            </div>
        </div>
        <!--Background Image-->
        <!--Image is also set as background image in CSS at 1400px for parallax effect-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg">
            <img decoding="async" src="/src/assets/images/tampa-cityview//home/drty/testAgency/1683921293314.webp" alt="logo" width="1920" height="1000">
            {# <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg" alt="logo" width="1920" height="1000"> #}
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-279">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Website Experts in Tampa, FL</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        {# <source type="image/webp" srcset="/images/office-pexels-400.webp 400w, /images/office-pexels-800.webp 800w, /images/office-pexels-1600.webp 1600w" sizes="(max-width: 600px) 400px, (max-width: 1200px) 800px, 1600px">
                        <source type="image/jpeg" srcset="/images/office-pexels-400.jpeg 400w, /images/office-pexels-800.jpeg 800w, /images/office-pexels-1600.jpeg 1600w" sizes="(max-width: 600px) 400px, (max-width: 1200px) 800px, 1600px">
                        <img alt="Office room" loading="lazy" decoding="async" src="/images/office-pexels-800.jpeg" width="800" height="600"> #}
                        <source media="(max-width: 600px)" srcset="./assets/images/misc/office-pexels.jpg">
                        <source media="(min-width: 601px)" srcset="./assets/images/misc/office-pexels.jpg">
                        <img loading="lazy" decoding="async" src="./assets/images/misc/office-pexels.jpg" alt="office room" width="348" height="433" aria-hidden="true">
                    </picture>
                    <div class="cs-box">
                        <h3 class="cs-h3">Websites for Businesses</h3>
                        <a class="cs-button-transparent" aria-label="read more about foyers" href="">Read More</a>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="./assets/images/misc/seo-pexels.jpg">
                        <source media="(min-width: 601px)" srcset="./assets/images/misc/seo-pexels.jpg">
                        <img loading="lazy" decoding="async" src="./assets/images/misc/seo-pexels.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                    </picture>
                    <div class="cs-box">
                        <h3 class="cs-h3">SEO Optimization</h3>
                        <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="./assets/images/misc/website-design-pexels.jpg">
                        <source media="(min-width: 601px)" srcset="./assets/images/misc/website-design-pexels.jpg">
                        <img loading="lazy" decoding="async" src="./assets/images/misc/website-design-pexels.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                    </picture>
                    <div class="cs-box">
                        <h3 class="cs-h3">Custom Website Design</h3>
                        <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1278">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg" alt="construction" width="738" height="598">
            </picture>
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">About Us</span>
                    <h2 class="cs-title">Design. Optimize. Launch. Grow.</h2>
                </div>
                <p class="cs-text">
                We’re Bay Breeze Web Studios, and we love helping businesses shine online. From custom website design to SEO that brings you more customers, we handle it all. Need copywriting, logo design, or hosting? We’ve got you covered. Think of us as your partners in building lasting digital success.
            </p>
                <a href="/about" class="cs-button-solid">Learn More About Us</a>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
        </picture>
    </section>

    {% include 'sections/cta.html' %}
{% endblock %}